spring:
  application:
    name: notification

  threads:
    virtual:
      enabled: true

  profiles:
    active: local

  cloud:
    azure:
      servicebus:
        connection-string: ${AZ_SVC_BUS_CONNECTION_STRING:}

  mail:
    host: ${SPRING_MAIL_HOST:}
    port: ${SPRING_MAIL_PORT:}
    from: ${SPRING_MAIL_FROM:}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWD:}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_AUTH_ENABLED:}
          starttls:
            enable: ${SPRING_MAIL_TLS_ENABLED:}
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

aws:
  cognito:
    aws-credentials: ${AWS_CREDENTIALS:}
    userPoolId: ${AWS_COGNITO_USER_POOL_ID:}
    endpoint: ${AWS_COGNITO_ENDPOINT:}

server:
  address: ${SERVER_ADDRESS:}
  port: ${SERVER_PORT:}
  servlet:
    context-path: /
  compression:
    enabled: true
  error:
    include-message: always
    include-binding-errors: always

management:
  otlp:
    metrics:
      export:
        enabled: false

  opentelemetry:
    resource-attributes:
      service.name: ${spring.application.name}
      service.version: ${spring.application.version}

  endpoints:
    web:
      exposure:
        include: health, info, metrics

otel:
  instrumentation:
    micrometer:
      enabled: true
  exporter:
    otlp:
      traces:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc
      metrics:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc
      logs:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc

azure:
  blob-storage:
    connection-string: ${AZURE_BLOB_STORAGE_CONNECTION_STRING:}
    video-container-name: ${AZURE_BLOB_STORAGE_VIDEO_CONTAINER_NAME:}
    image-container-name: ${AZURE_BLOB_STORAGE_IMAGE_CONTAINER_NAME:}