# SERVER
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8082

# OTEL
OTEL_GRPC_ENDPOINT=http://localhost:4320
OTEL_HTTP_METRICS_ENDPOINT=http://localhost:4321/v1/metrics

# Azure Service Bus
AZ_SVC_BUS_CONNECTION_STRING=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;

# AWS
AWS_CREDENTIALS=AWS_ACCESS_KEY_ID=test;AWS_SECRET_ACCESS_KEY=test;AWS_REGION=us-east-1;AWS_SESSION_TOKEN=localstack-session
AWS_COGNITO_USER_POOL_ID=us-east-1_c744ddc8c53b4209aa3d7b363eba5098
AWS_COGNITO_ENDPOINT=http://localhost:4566

# SMTP
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SPRING_MAIL_FROM=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWD=
SPRING_MAIL_AUTH_ENABLED=false
SPRING_MAIL_TLS_ENABLED=false

# Azure Blob Storage
AZURE_BLOB_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;
AZURE_BLOB_STORAGE_VIDEO_CONTAINER_NAME=videos
AZURE_BLOB_STORAGE_IMAGE_CONTAINER_NAME=images